@import 'setting.scss';
aside{
  article{
    em{font: 400 14px $Noto; color: #999;}
    span{font: 700 16px $Lato; margin-right: 15px;}
  }
}
hgroup{padding-bottom: 30px;
  h3{padding: 20px; font: 500 14px $Noto;
    span{font: 700 26px $Lato;}
    em{font: 400 26px $Noto;}
  }
  h4{padding: 20px 15px; margin-top: 10px; background:#fafafa; border-radius: 10px; font: 400 14px $Noto;
    span{font: 500 14px $Noto; color: #007AFF;}
    i{font-size: 16px;}
  }
}
header{
  nav{display: flex; margin-bottom: 30px;
    a{width: 25%; padding: 20px 0; text-align: center; border-bottom: 2px solid #eaeaea; color: #eaeaea; cursor: pointer;}
    a.active{color: #000; border-color: #000;}
  }
}
#card{
  section{padding:30px 20px; background: linear-gradient(132.33deg, #007AFF 0%, #50CAFF 108.13%); border-radius: 20px; position:relative; color: #fff;
    p{font: 500 14px $Noto; margin-bottom: 50px;
      span{font: 700 28px $Lato;}
    }
    div{position: absolute; top:30px; right:20px; font: 400 12px $Noto;}
  }
  .card__btn{@include button(#000,#FAFAFA); padding: 20px; margin:20px 0 5px 0; font: 400 14px $Noto; text-align:left;
    span{font: 500 14px $Noto; color: #007AFF;}
  }
}